* {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

@font-face {
    font-family: 'balqis';
    src: url('../fonts/balqis.woff2') format('woff2'), url('../fonts/balqis.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'), url('../fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'), url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-regular';
    src: url('../fonts/RobotoCondensed-regular.woff2') format('woff2'), url('../fonts/RobotoCondensed-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.body {
    color: #000;
    font-family: 'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}

.header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top: 10px solid rgb(65, 67, 73);
    padding: 15px 0;
}

.phone::before {
    content: "";
    position: absolute;
    background-image: url(../images/phone-icon.svg);
    width: 30px;
    height: 30px;
    left: 35px;
}

.phone {
    padding-left: 73px;
    font-family: 'RobotoCondensed-Light';
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.header__logo-title {
    animation-name: header__logo-title;
    animation-duration: 3s;
}

@keyframes header__logo-title {
    0% {
        transform: translateX(-3000px);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
    /*0% {
transform: scale(-1);
}*/
    50% {
        transform: scale(1.5);
    }
}

.menu {
    text-align: center;
}

.menu__list {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu__list-item {
    width: 300px;
}

.menu__list-link {
    color: #000;
    border-radius: 50%;
    text-decoration: none;
    display: block;
    padding: 14px 10px 14px;
    transition: all .05s;
    font-weight: 300;
}

.menu__list-link {
    animation-name: menu__list-link;
    animation-duration: 6s;
}

@keyframes menu__list-link {
    0% {
        transform: translateX(-3000px);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
    50% {
        transform: scale(1.5);
    }
}

.menu__list-link--activ,
.menu__list-link:hover {
    color: #fff;
    border: 3px solid rgb(146, 160, 160);
    background-color: rgb(93, 115, 131);
}

.header__logo-title {
    color: #f4f4f4;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #6b6b6b, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
    padding-top: 100px;
    text-align: center;
    font-size: 100px;
    line-height: 80px;
    font-family: 'balqis';
    font-weight: 700;
    color: #000
}

.container__top {
    text-align: center;
    background-color: lightsteelblue;
    border-top: 10px solid rgb(65, 67, 73);
    border-bottom: 10px solid rgb(65, 67, 73);
}

.title {
    color: #f4f4f4;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #6b6b6b, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    font-family: 'balqis';
    font-weight: 700;
    color: rgb(46, 35, 35);
}

.title {
    animation-name: title;
    animation-duration: 3s;
}

@keyframes title {
    0% {
        transform: translateX(3000px);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
    /*0% {
transform: scale(-1);
}*/
    50% {
        transform: scale(1.5);
    }
}

.menu-1 {
    border-top: 5px solid rgb(65, 67, 73);
    text-align: center;
}

.menu__list-1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu__list-item-1 {
    width: 300px;
}

.menu__list-link-1 {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 14px 10px 14px;
    transition: all .05s;
    font-weight: 300;
}

.menu__list-link-1 {
    animation-name: menu__list-link-1;
    animation-duration: 6s;
}

@keyframes menu__list-link-1 {
    0% {
        transform: translateX(-3000px);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
    50% {
        transform: scale(1.5);
    }
}

.menu__list-link-1:hover {
    color: #fff;
    border: 3px solid rgb(146, 160, 160);
    background-color: rgb(93, 115, 131);
}

@media(max-width: 1480px) {
    .header {
        width: 100%;
    }
}

@media(max-width: 1200px) {
    .header {
        width: 100%;
    }
    .header__logo-title {
        font-size: 70px;
        line-height: 50px;
        text-align: center;
    }
}

@media(max-width: 661px) {
    .header {
        width: 100%;
    }
    .header__logo-title {
        font-size: 70px;
        line-height: 50px;
        text-align: center;
    }
    .menu__list,
    .menu__list-1 {
        display: block;
    }
    .menu__list-item,
    .menu__list-item-1 {
        width: 100%;
    }
    .title {
        font-size: 40px;
        line-height: 40px;
    }
}

@media(max-width: 430px) {
    .header {
        width: 100%;
    }
    .menu__list,
    .menu__list-1 {
        display: block;
        text-align: center;
    }
    .menu__list-item,
    .menu__list-item-1 {
        width: 100%;
    }
    .header__logo-title {
        font-size: 56px;
        line-height: 50px;
        text-align: center;
    }
}

@media(max-width: 380px) {
    .header {
        width: 100%;
    }
    .menu__list,
    .menu__list-1 {
        display: block;
        text-align: center;
    }
    .menu__list-item,
    .menu__list-item-1 {
        width: 100%;
    }
    .header__logo-title {
        padding-top: 10px;
        font-size: 54px;
        line-height: 117px;
        text-align: center;
    }
    .title {
        font-size: 30px;
        line-height: 30px;
    }
}